In [1]:
import pandas as pd

In [2]:
# create Series Object
ser1 = pd.Series([10,20,30,40])

# display Series Object
ser1

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
ser2 = pd.Series([[10,20],[30,40.5,'series'],[50,55],{"Name":"Tess","Org":"Packt"}])

ser2

0                            [10, 20]
1                  [30, 40.5, series]
2                            [50, 55]
3    {'Name': 'Tess', 'Org': 'Packt'}
dtype: object

In [ ]:
# Create Dataframe
df = pd.DataFrame([30,50,20])

df

In [7]:
df.shape

(3, 1)

In [8]:
# list the columns
df.columns

RangeIndex(start=0, stop=1, step=1)

In [9]:
# list the indices
df.index

RangeIndex(start=0, stop=3, step=1)

In [10]:
print("These are the names of the columns ", list(df.columns))
print("These are the row indices ", list(df.index))

These are the names of the columns  [0]
These are the row indices  [0, 1, 2]

In [11]:
# rename a columns
df.columns = ['V1']

In [12]:
df

   V1
0  30
1  50
2  20

In [15]:
# rename the indices
df.index = ['R1','R2','R3']
df

    V1
R1  30
R2  50
R3  20

In [18]:
# create dataframe with multiple columns
#df1 = pd.DataFrame([[10,15,20],[100,200,300]])
df1 = pd.DataFrame([[10,15,20],[100,200,300]], columns=['V1', 'V2', 'V3'], index=['R1', 'R2'])
df1

     V1   V2   V3
R1   10   15   20
R2  100  200  300